<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>
  
  <section class="h-96 relative bg-[url('https://source.unsplash.com/1200x800/?Salvador')] bg-fixed bg-no-repeat bg-cover flex justify-center items-center flex-col after:w-full after:h-full after:bg-black/60 after:top-0 after:left-0 after:absolute">
    <h2 class="text-white text-6xl z-10">Salvador</h2>
  </section>

  <main class="p-6">
    <section class="flex flex-col gap-5">
      <h2 class="text-5xl mx-auto text-center">Sobre este destino</h2>

      <div>
        <ul class="my-3 grid grid-cols-3 gap-10">
          <li>
            <h3 class="text-4xl text-neutral-600">cidade:</h3>
            <p class="text-5xl">Salvador</p>
          </li>

          <li class="col-span-3 md:col-span-1">
            <h3 class="text-4xl text-neutral-600">Estado:</h3>
            <p class="text-5xl">Bahia</p>
          </li>

          <li class="col-span-3 md:col-span-1">
            <h3 class="text-4xl text-neutral-600">clima:</h3>
            <p class="text-3xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eius praesentium sequi nesciunt laudantium necessitatibus placeat officia molestiae repellat. Doloremque laudantium magni exercitationem atque nobis nisi omnis iusto eum minima!</p>
          </li>

          <li class="col-span-3">
            <h3 class="text-4xl text-neutral-600">melhores épocas para viajar:</h3>
            <p class="text-3xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quia maxime possimus officia rerum, placeat, adipisci, fugiat quasi eius nostrum necessitatibus delectus non! Corporis tempora illum voluptatibus mollitia fugiat placeat?</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="py-10">
      <h3 class="text-5xl mx-auto flex flex-col items-center my-5">Pontos turísticos</h3>

      <div class="flex justify-center items-center">
        <div>
          <h2 class="text-6xl">Pelourinho</h2>
          <p class="max-w-3xl">Local que abrigou uma história tão triste, o Pelourinho de Salvador atualmente é sinônimo de muita música, cultura e arte baiana. Reconhecido como Patrimônio Histórico da Humanidade, quem visita o espaço pode conferir igrejas com uma arquitetura marcante, como a Catedral Basílica e a Igreja do Rosário dos Homens Pretos, a Fundação Jorge Amado, além de restaurantes, bares, centros culturais, atrações artísticas, museus e muito mais. </p>
        </div>
        <div class="flex flex-col">
          <img src="https://cdn.pixabay.com/photo/2019/12/08/15/26/pelourinho-4681372_1280.jpg" alt="" class="w-96">

          <div class="flex gap-3">
            <a href="#"></a>
          </div>
          
        </div>
      </div>
    </section>
    
  </main>

</body>
</html>