<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Página de Destino</h1>
  <p>Informacoes</p>

  <ul th:each="tur : ${turisticos}">

    <li th:text="${tur.localidade}"></li>
    <li th:text="${tur.descricao}"></li>

    <li th:text="${link_imagem}"></li>




  </ul>

  <table>
    <tr>
      <th>Estado</th>
      <th>Cidade</th>
      <th>clima</th>
      <th>Epocas</th>
      <th>Link_da_Imagem</th>

    </tr>
    <tbody>
      <tr th:each="destino : ${dest}">
        <td th:text="${destino.estado}"></td>
        <td th:text="${destino.cidade}"></td>
        <td th:text="${destino.clima}"></td>
        <td th:text="${destino.epocas}"></td>
        <td th:text="${destino.linkImagem}"></td>

      </tr>
    </tbody>
  </table>




</body>

</html>