<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>
  
  <div class="h-96 relative bg-[url('https://source.unsplash.com/1200x800/?Salvador')] bg-fixed bg-no-repeat bg-cover flex justify-center items-center flex-col after:w-full after:h-full after:bg-black/60 after:top-0 after:left-0 after:absolute">
    <h2 class="text-white text-6xl z-10">Salvador</h2>

    <div class="flex gap-5 text-3xl text-white z-10">
      <h3>maceio</h3>
      <h3>alagoas</h3>
      <h3>acre</h3>
    </div>
  </div>

  <div>

  </div>

</body>
</html>