<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/CSS/animations.css">    
    <title>Document</title>
</head>
<body class="">

    <main class="max-w-screen m-auto bg-neutral-200">
        <div class="h-screen relative bg-[url('https://source.unsplash.com/1200x800/?backpacking')] bg-fixed bg-no-repeat bg-cover flex justify-center items-center flex-col after:w-full after:h-full after:bg-black/60 after:top-0 after:left-0 after:absolute">
            <h1 class="z-20 text-white text-3xl md:text-6xl">UniversiaTour</h1>

            <a href="#" class="text-white text-2xl z-20 absolute top-3 right-3 p-2">Login</a>

            <i class="floating bi bi-caret-down absolute bottom-7 text-white text-6xl z-20"></i>
        </div>  

        

        <div class="flex flex-col justify-center items-center bg-neutral-200 p-4">
            <h2 class="bi bi-geo-alt-fill text-3xl md:text-5xl my-6">Principais Destinos</h2>

            

            <section class="w-full min-h-72 flex gap-5 justify-center flex-wrap">
                
                <div th:each="destin : ${des}" class="flex flex-col items-center bg-white shadow-md p-1 rounded-md h-64 w-56">
                        <img th:src="${destin.linkImagem}" alt="" class="h-48 w-56 object-cover">
                    <div class="flex flex-col items-center">
                        <h1 th:text="${destin.cidade}" class="text-2xl">Rio de Janeiro</h1>
                        <button class="text-lg text-sky-500">Agendar Itinerário</button>
                    </div>
                </div>

            </section>

        </div>

            <section class="bg-white w-full flex flex-col items-center p-4">
                <h3 class="bi bi-compass text-3xl my-8">Guia de Viagens</h3>

                <div class="w-full flex gap-3 flex-wrap justify-center items-center">

                    <div class="h-64 w-64 bg-yellow-300 p-1 shadow-md">
                        <h2 class="my-2 text-xl font-semibold">Faça uma lista de itens necessários</h2>
                        <p>Fazer uma lista de itens pode te salvar (e muito) em qualquer viagem. Se você deixar para organizar tudo um dia antes de partir, pode esquecer muitas coisas. 
                        </p>
                    </div>

                    <div class="h-64 w-64 bg-yellow-300 p-1 shadow-md">
                        <h2 class="my-2 text-xl font-semibold">Respeite e entenda a cultura dos locais que você visitar</h2>
                        <p>Você deve sempre lembrar que é um visitante nos lugares que viaja e, em muitos casos, as pessoas terão costumes e tradições diferentes do que você está acostumado. 
                        </p>
                    </div>

                    <div class="h-64 w-64 bg-yellow-300 p-1 shadow-md">
                        <h2 class="my-2 text-xl font-semibold">Controle os gastos e faça um orçamento</h2>
                        <p>Seja para calcular a gasolina necessária, o preço dos passeios, comidas, ou até mesmo o preço das passagens e hotéis, planeje-se antes, tenha um orçamento planejado e tente ao máximo não ultrapassá-lo. 
                        </p>
                    </div>

                    <div class="h-64 w-64 bg-yellow-300 p-1 shadow-md">
                        <h2 class="my-2 text-xl font-semibold">Use as redes sociais para ter uma viagem mais completa</h2>
                        <p>As redes sociais podem te ajudar a encontrar pontos turísticos não tão conhecidos e eventos locais, além de ter a possibilidade de conhecer outras pessoas que também estão visitando a região.
                        </p>
                    </div>
                </div>
                
            </section>

            <footer>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Perfil</a>
                    </li>
                </ul>
            </footer>
    </main>
    
</body>
</html>