<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>



  <h1>Página de perfil</h1>
  <p>
    Usuário e intinerário
  </p>
  <<<<<<< HEAD <li> <a th:href="'/perfil/'+${usr.id}" th:text="${usr.nome}"></a></li>
    <p th:text="${usr.email}"></p>
    <p th:text="${usr.senha}"></p>
    <p th:text="${usr.dataNascimento}"></p>
    <p th:text="${usr.sexo}"></p>
    <p th:text="${usr.bio}"></p>
    <p th:text="${usr.interesse}"></p>
    <a th:href="'/testesperfil/'+${usr.id}+'/edit'">
      <button>Editar</button>
    </a>

    <table>
      <tr>
        <th>ID</th>
        <th>DIA</th>
        <th>HORA</th>
        <th>ATIVIDADE</th>
        <th>USUARIO_ID</th>
        <th>TURISTICO_LOCALIDADE</th>
      </tr>
      <tbody>
        <tr th:each="intinerarios : ${itr}">
          <td th:text="${intinerarios.id}"></td>
          <td th:text="${intinerarios.dia}"></td>
          <td th:text="${intinerarios.hora}"></td>
          <td th:text="${intinerarios.atividade}"></td>
          <td th:text="${intinerarios.usuario.id}"></td>
          <td th:text="${intinerarios.turistico.localidade}"></td>





        </tr>
      </tbody>
    </table>

</body>

</html>