<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>



  <h1>Página de perfil</h1>
  <p>
    Usuário e intinerário
  </p>
  <li> <a th:href="'/perfil/'+${usr.id}" th:text="${usr.nome}"></a></li>
  <p th:text="${usr.email}"></p>
  <p th:text="${usr.senha}"></p>
  <p th:text="${usr.dataNascimento}"></p>
  <p th:text="${usr.sexo}"></p>
  <p th:text="${usr.bio}"></p>
  <p th:text="${usr.interesse}"></p>
  <a th:href="'/testesperfil/'+${usr.id}+'/edit'">
    <button>Editar</button>
  </a>
  <br>

  <form th:action="'/testesperfil/'+${usr.id}+'/delete'" method="post">
    <input type="hidden" name="id" th:value="${usr.id}">
    <input type="submit" value="Deletar">
  </form>



  <table>
    <tr>
      <th>ID</th>
      <th>DIA</th>
      <th>HORA</th>
      <th>ATIVIDADE</th>
      <th>USUARIO_ID</th>
      <th>TURISTICO_LOCALIDADE</th>
      <th>EXCLUIR</th>
      <th>MODIFICAR</th>
    </tr>
    <tbody>
      <tr th:each="intinerarios : ${itr}">
        <td th:text="${intinerarios.id}"></td>
        <td th:text="${intinerarios.dia}"></td>
        <td th:text="${intinerarios.hora}"></td>
        <td th:text="${intinerarios.atividade}"></td>
        <td th:text="${intinerarios.usuario.id}"></td>
        <td th:text="${intinerarios.turistico.localidade}"></td>
        <td>
          <form th:action="'/intinerario/'+${intinerarios.id}+'/delete'" method="post">
            <input type="hidden" name="usuarioId" th:value="${intinerarios.usuario.id}">
            <input type="hidden" name="id" th:value="${intinerarios.id}">
            <input type="submit" value="Deletar">
          </form>
        </td>
        <td>
          <!-- <a th:href="'/intinerario/'+${intinerarios.id}+'/edit'">
            <input type="hidden" name="usuarioId" th:value="${intinerarios.usuario.id}">
            <input type="hidden" name="intinerarioId" th:value="${intinerarios.id}">
            <button>Editar</button>
          </a> -->
          <form th:action="'/intinerario/'+${intinerarios.id}+'/edit'" method="get">
            <input type="hidden" name="usuarioId" th:value="${intinerarios.usuario.id}">
            <input type="hidden" name="intinerarioId" th:value="${intinerarios.id}">
            <button type="submit">Editar</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <form action="/novointinerario" method="post">

    <label for="dia">Dia</label>
    <input type="date" name="dia" id="dia" required>
    <br>

    <label for="hora">Hora</label>
    <input type="time" name="hora" id="hora" required>
    <br>

    <label for="atividade">Atividade</label>
    <input type="text" name="atividade" id="atividade" required>
    <br>

    <label for="usuarioId">UsuarioId</label>
    <input type="number" name="usuarioId" id="usuarioId">
    <br>

    <label for="turisticoId">TuristicoId</label>
    <input type="number" name="turisticoId" id="turisticoId">
    <br>

    <button>Criar</button>
  </form>
</body>

</html>